html,
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: cadetblue;
}

main {
  .welcome-title {
    text-align: center;
  }
  h1 {
    color: darkblue;
  }
  .description {
    text-align: center;
  }
}
